html {
  height: 100%;
  background: white;
}
body {
  font-family: 'Raleway', arial, sans-serif;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
img {
  max-width: 100%;
}
a {
  color: #2980b9;
}
a.page-link {
  color: #2980b9;
  text-decoration: underline;
}
a.underlined {
  border-bottom: 1px solid;
}
a.underlined:hover {
  text-decoration: none;
}
a.see-more:after {
  content: "\00BB" /* » */;
  display: inline-block;
  padding-left: 5px;
}
a.fat-arrow-link {
  display: block;
  padding: 25px 35px;
  background: #333333;
  color: white;
  font-size: 18px;
}
a.fat-arrow-link:before,
a.fat-arrow-link:after {
  content: " ";
  display: table;
}
a.fat-arrow-link:after {
  clear: both;
}
a.fat-arrow-link span {
  display: inline-block;
  vertical-align: middle;
}
a.fat-arrow-link:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
  font-size: 50px;
  line-height: .8;
  display: inline-block;
  float: right;
}
@media only screen and (max-width: 767px) {
  a.fat-arrow-link {
    font-size: 14px;
    padding-left: 20px;
  }
  a.fat-arrow-link:after {
    font-size: 45px;
    margin-top: -9px;
  }
  a.fat-arrow-link br {
    display: none;
  }
}
a.form-link {
  font-size: 12px;
  color: white;
  font-style: italic;
  text-decoration: underline;
  font-weight: normal;
}
p {
  font-size: 18px;
}
p.heading {
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  p.heading {
    font-size: 15px;
    line-height: 1.5;
  }
}
[aria-hidden] {
  display: none;
}
.container-fixed {
  width: 992px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fixed:before,
.container-fixed:after {
  content: " ";
  display: table;
}
.container-fixed:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 1230px;
  }
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.form-control {
  height: 40px;
  background: white;
  box-shadow: none;
  font-size: 16px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #2d2d2d;
}
.input-group-addon {
  background: white;
  color: white;
  border: 0;
  width: 40px;
  padding: 0;
}
.input-group-addon button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
}
.blue .input-group-addon {
  background: #2980b9;
}
.datetime {
  position: relative;
}
.datetime:after {
  font-family: 'viva' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "w";
  position: absolute;
  color: #2d2d2d;
  right: 15px;
  top: 11px;
  font-size: 27px;
}
.bootstrap-datetimepicker-widget {
  width: 100%;
}
.bootstrap-datetimepicker-widget .table-condensed {
  width: 100%;
}
.bootstrap-datetimepicker-widget .prev,
.bootstrap-datetimepicker-widget .next {
  color: #2d2d2d;
}
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
  text-transform: capitalize;
}
.bootstrap-datetimepicker-widget .dow {
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid #2d2d2d;
}
.bootstrap-datetimepicker-widget td {
  text-align: center;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.bootstrap-datetimepicker-widget td.today {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAMklEQVQYV2NkwAM+9DD8Z8QlD5IEyWFVAJPEqgBZEkMBuiSKAmyScAW4JMEK8EmCFAAAQx4T4VdjOZwAAAAASUVORK5CYII=') right bottom no-repeat;
}
.bootstrap-datetimepicker-widget td.active {
  background-color: #2d2d2d !important;
  color: white;
}
.bootstrap-datetimepicker-widget td:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
.selectpicker.blue + .bootstrap-select .btn .caret {
  background: #2980b9;
}
.selectpicker + .bootstrap-select {
  background: white;
  border-radius: 3px;
  color: black;
}
.selectpicker + .bootstrap-select .btn {
  background: none;
  color: white !important;
  border: 0;
  text-shadow: none;
  height: 40px;
  box-shadow: none;
}
.selectpicker + .bootstrap-select .btn .caret {
  display: inline-block;
  top: 0;
  right: 0;
  background: white;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  border-radius: 0 3px 3px 0;
}
.selectpicker + .bootstrap-select .btn .caret:before {
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 35px;
  line-height: 40px;
}
.selectpicker + .bootstrap-select .dropdown-menu {
  margin-top: -2px;
  border-radius: 0;
  background: white;
  padding: 0;
}
.selectpicker + .bootstrap-select .dropdown-menu li {
  font-size: 16px;
}
.selectpicker + .bootstrap-select .dropdown-menu li a {
  padding-top: 6px;
  padding-bottom: 6px;
}
.selectpicker + .bootstrap-select .dropdown-menu li a:focus {
  outline: none;
}
.selectpicker + .bootstrap-select .dropdown-menu li.selected a {
  background: #2b2b2b;
  color: white;
}
.black-title {
  text-transform: uppercase;
  font-size: 14px;
  color: black;
  font-weight: bold;
  clear: both;
}
.black-title.large {
  font-size: 36px;
  font-weight: normal;
  text-transform: none;
}
.black-title.large span:after {
  margin-top: 12px;
}
@media only screen and (max-width: 767px) {
  .black-title.large {
    font-size: 20px;
  }
}
.black-title.full span:after {
  width: 100%;
}
.black-title.fat {
  font-size: 30px;
}
.black-title.fat span:after {
  height: 10px;
  margin-top: 15px;
}
.black-title span {
  display: inline-block;
}
.black-title span:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: black;
  margin-top: 5px;
}
@media only screen and (max-width: 767px) {
  .black-title span:after {
    height: 1px;
    width: 25px;
  }
}
.double-arrow-list li > a {
  position: relative;
  color: white;
  height: 35px;
  box-sizing: content-box;
  display: block;
  line-height: 35px;
  padding-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.double-arrow-list li > a:after {
  content: "\00BB" /* » */;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 35px;
  color: black;
  opacity: .4;
}
.double-arrow-list li > a:hover,
.double-arrow-list li > a:active,
.double-arrow-list li > a:focus {
  font-weight: bold;
  text-decoration: none;
}
.double-arrow-list li > a:hover:after,
.double-arrow-list li > a:active:after,
.double-arrow-list li > a:focus:after {
  opacity: 1;
  color: white;
  font-weight: normal;
}
.double-arrow-list li.active a {
  font-weight: bold;
}
.double-arrow-list li.active a:after {
  opacity: 1;
  color: white;
  font-weight: normal;
}
.double-arrow-list.thin li > a {
  font-size: 18px;
  height: auto;
  overflow: visible;
  text-overflow: none;
  white-space: normal;
  line-height: 1.1;
  margin-bottom: 9px;
}
.double-arrow-list.thin li > a span {
  border-bottom: 1px solid #eeeeee;
  line-height: auto;
  display: inline-block;
  padding-bottom: 9px;
  width: calc(100% - 40px - 60px);
}
.double-arrow-list.thin li > a:after {
  opacity: 1;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #eeeeee;
  vertical-align: top;
  display: inline-block;
  width: 40px;
  text-align: center;
  line-height: 1.1;
  height: 100%;
}
.double-arrow-list.thin li > a:hover {
  font-weight: normal;
}
.double-arrow-list.thin li > a:hover:after {
  color: black;
}
.double-arrow-list.double-col {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
}
@media only screen and (max-width: 767px) {
  .double-arrow-list.double-col {
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
}
@media only screen and (max-width: 767px) {
  .double-arrow-list li > a {
    font-size: 12px;
  }
  .double-arrow-list.thin li > a {
    font-size: 12px;
  }
  .double-arrow-list.thin li > a span {
    width: calc(100% - 30px - 10px);
  }
  .double-arrow-list.thin li > a:after {
    width: 30px;
  }
}
.bullet-list {
  padding-left: 30px;
}
.bullet-list > li {
  margin-bottom: 7px;
}
.bullet-list > li:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f111";
  display: inline-block;
  vertical-align: top;
  width: 25px;
  font-size: 10px;
  padding-top: 7px;
}
.bullet-list > li a {
  display: inline-block;
  font-size: 18px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  max-width: calc(100% - 25px - 4px);
}
.bullet-list > li a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .bullet-list {
    padding: 0;
  }
  .bullet-list > li {
    margin-bottom: 5px;
  }
  .bullet-list > li:before {
    width: 18px;
    font-size: 7px;
  }
  .bullet-list > li a {
    font-size: 12px;
    padding-bottom: 3px;
    max-width: calc(100% - 18px - 3px);
  }
}
.black-numbers {
  counter-reset: item;
}
.black-numbers > li {
  padding-left: 5px;
}
.black-numbers > li span {
  display: inline-block;
  width: calc(100% - 30px - 20px);
  vertical-align: top;
}
.black-numbers > li + li {
  margin-top: 35px;
}
@media only screen and (max-width: 767px) {
  .black-numbers > li + li {
    margin-top: 20px;
  }
}
.black-numbers > li:before {
  display: inline-block;
  vertical-align: middle;
  content: "0" counter(item);
  counter-increment: item;
  width: 30px;
  margin-right: 20px;
  font-size: 48px;
  direction: rtl;
  line-height: 1.1;
  border-bottom: 3px solid;
  font-weight: 100;
  letter-spacing: -3px;
}
@media only screen and (max-width: 767px) {
  .black-numbers > li:before {
    font-size: 24px;
    width: 15px;
    letter-spacing: -2px;
    border-bottom-width: 2px;
    margin-right: 15px;
  }
}
.flexed {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .flexed {
    display: block;
  }
  .flexed > * {
    display: block;
    width: 100%;
  }
}
.flexed-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .flexed-row {
    display: block;
  }
  .flexed-row > * {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .flexed-row {
    flex-direction: row !important;
    display: flex;
  }
}
.col-sm-7.pc55 {
  width: 55%;
}
.col-sm-5.pc45 {
  width: 45%;
}
@media only screen and (max-width: 767px) {
  .no-mobile-bottom-padding {
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .no-mobile-top-padding {
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .small-logo .main-header .main-nav .main-nav__list > li.home a {
    border-width: 5px;
    height: 65px;
    width: 65px;
  }
}
.pagination {
  font-size: 20px;
  font-weight: 100;
  padding-top: 15px;
}
.pagination .further,
.pagination .pages {
  display: inline-block;
  vertical-align: middle;
}
.pagination .further > a,
.pagination .pages > a {
  color: black;
  display: inline-block;
  padding: 0 8px;
}
.pagination .further > a.active,
.pagination .pages > a.active {
  font-weight: bold;
}
.pagination .further > a:hover,
.pagination .pages > a:hover {
  text-decoration: none;
}
.pagination .further a {
  font-size: 16px;
  padding: 0 3px;
}
[role="navigation"] [aria-expanded="false"] {
  display: none;
}
[role="navigation"] [aria-expanded="true"] {
  display: block;
}
[role="navigation"] [role="menuitem"]:focus + [aria-expanded="false"] {
  display: block;
}
@font-face {
  font-family: 'viva';
  src: url('../fonts/viva.eot');
  src: url('../fonts/viva.eot?#iefix') format('embedded-opentype'), url('../fonts/viva.woff') format('woff'), url('../fonts/viva.ttf') format('truetype'), url('../fonts/viva.svg#viva') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'viva' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: attr(data-icon);
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'viva' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  border-radius: 3px;
  font-size: 15px;
  height: 40px;
  text-shadow: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #eeeeee;
  text-decoration: none;
  color: #333;
  white-space: normal;
  padding: 10px 12px;
  background-image: none;
}
.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  box-shadow: none;
}
.btn.btn-full {
  width: 100%;
}
.btn.btn-primary {
  color: white;
  background-color: #2d2d2d;
}
.btn.btn-secondary {
  color: white;
  background-color: #2980b9;
}
.btn.btn-tertiary {
  color: white;
  background-color: #2c3e50;
}
.form-radio input[type="radio"] {
  display: none;
}
.form-radio input[type="radio"] + label {
  font-weight: 500;
}
.form-radio input[type="radio"] + label .icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0px 5px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #FFF;
  border: 1px solid #e7e8e8;
  position: relative;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
.form-radio input[type="radio"] + label .icon:before {
  transition: 0.3s;
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background-color: #2d2d2d;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
}
.form-radio input[type="radio"]:checked + label .icon:before {
  opacity: 1;
}
.form-group {
  margin-bottom: 20px;
  color: #000;
}
@media only screen and (max-width: 767px) {
  .form-group {
    margin-bottom: 15px;
  }
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group .input-form {
  padding-left: 0;
}
@media only screen and (max-width: 767px) {
  .form-group .input-form {
    padding-left: 15px;
  }
}
.form-group .error input,
.form-group .error textarea {
  background: white ;
  border: 1px solid #e98f8f;
  box-shadow: inherit;
  color: #000;
}
.slider.slider-horizontal {
  width: 100%;
  margin-top: 30px;
}
.slider.slider-horizontal .slider-track {
  height: 5px;
  background: #dfdedb;
  box-shadow: none;
}
.slider.slider-horizontal .slider-track .slider-handle {
  opacity: 1;
  background: white;
  border: 1px solid #d8d6d3;
  position: relative;
}
.slider.slider-horizontal .slider-track .slider-handle:before {
  font-family: 'viva' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e01b";
  position: absolute;
  top: 4px;
  left: 3px;
  font-size: 10px;
  color: #d7d5d2;
}
.slider.slider-horizontal .slider-selection {
  background: white;
}
.slider.slider-horizontal .tooltip.tooltip-main.top {
  margin-top: -35px;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* Page Link All PAGES */
.teal-block {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 3px;
}
.teal-block .double-arrow-list li > a {
  color: #000;
}
.carrousel-home {
  margin-bottom: 45px;
}
.carrousel-home h2 {
  font-size: 50px;
  color: #FFF;
  font-weight: 800;
  margin-bottom: 15px;
}
.carrousel-home p {
  font-size: 16px;
  font-weight: 500 ;
  margin-bottom: 35px;
  max-width: 420px;
}
.carrousel-home .btn {
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  padding-top: 13px;
  min-width: 255px;
}
.carrousel-home .carousel-inner .item {
  background: #eeeeee center center no-repeat;
  background-size: cover;
  height: 700px;
  overflow: hidden;
}
.carrousel-home .carousel-inner .item img {
  opacity: 0;
}
.carrousel-home .carousel-control,
.carrousel-home .carousel-indicators {
  display: none;
}
.carrousel-home .carousel-caption {
  left: initial;
  right: initial;
  bottom: 55px;
  max-width: 485px;
  text-align: left;
  text-shadow: none;
}
.carrousel-home .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#00000000', GradientType=1);
}
.page-style-guide header,
.page-style-guide footer {
  display: none;
}
.header-wrap-style-guide {
  background: url(https://unsplash.it/g/1600/900?random ) no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  margin: 0 0 50px;
  overflow: hidden;
  padding: 70px 20px;
  position: relative;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}
.header-wrap-style-guide h2 {
  font-size: 50px;
  font-weight: 500;
  color: #FFF;
}
.style-guide-row {
  margin-bottom: 20px;
  overflow: hidden;
}
/*# sourceMappingURL=/css/theme.css.map */